.container {
    width: 751px;
    height: 572px;
    margin: auto;
}
header {
    width: 752px;
    height: 50px;
    background-color: rgb(167, 163, 163);
}
ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}
.login {
    background-color: rgb(75, 75, 213);
    color: white;
}
li {
    padding: 15px;
}
.box1, .box2 {
    width: 448px;
    height: 217px;
    border: 2px solid black;
    margin: 20px;
    margin-left: 0px;
    position: relative;
}

.info {
    position: relative;
}
.box3 {
    width: 263px;
    height: 200px;
    border: 2px solid black;
    position: absolute;
    top: 0;
    right: 0px;
}
.box1 h1,
.box1 h3, .box2 h1, .box2 h3 {
    margin: 10px 20px;
}
.box1 h1, .box2 h1 {
    font-size: 45px;
}
.box1 h3, .box2 h3 {
    margin-left: 40px;
}
.box1 h4, .box2 h4 {
    margin-left:20px ;
}
.box1 p, .box2 p {
    font-size: larger;
    position: absolute;
    top: 61px;
    right: 55px;
}
.box1 button, .box2 button {
    margin-left: 30px;
    background-color: rgba(255, 255, 0, 0.741);
    height:30px;
    width:90px;
}
.box3 p{
    font-size: xx-large;
    margin-left: 20px;
}
.box3 button {
    width: 150px;
    height: 40px;
    background-color: rgba(65, 144, 65, 0.579);
    margin-left: 60px;
}
